<div class='container'>

	<h1 class='koverwatch'>Welcome to Overwhich</h1>

	<h2 class='koverwatch'>What is this?</h2>
		<p>Overwhich is a tool designed to help players create effective Overwatch teams or make intelligent character switches to help their team during the game. Overwatch is an incredibly complex game with a ton of factors, but Overwhich tries to quantify some of the intangibles to help you understand where your team may be lacking. <a routerLink='/team-analyzer'>Experiment with the team builder here.</a></p>

	<h2 class='koverwatch'>How does it work?</h2>
		<p>Overwhich aims take each ability that a character has and map what kind of value that ability adds to your team. For instance, Mercy's staff provides a tremendous amount of healing to your team, while Pharah's ability to fly adds mobility. Currently the values in the database were inputted by me, but the idea is to use the community to arrive at a consensus for how different abilities should be valued.</p>

		<p>We then use data from professional matches at Winston's Lab to understand what kind of teams are currently most effective in the meta. This 'ideal team' is compared to the values of a team you input into the 'team builder.' As you add characters our algorithm will look at what your team is lacking and recommend characters to help you reach the optimal state!</p>

	<h2 class='koverwatch'>There's six stats that you use to evaluate characters. What do they mean?</h2>

		<p><b>Damage:</b> The most straightforward metric, this measures a characters ability to damage the other team. Since every character in the game possesses it to some degree it is the most abunduant attribute in almost any team composition.</p>

		<p><b>Disruption:</b> Ability to interfere with the enemy team. Disruptions comes in many forms, but is most commonly seen in abilities that move/shift the position of an enemy, abilities that grant vision on the enemy team such as Hanzo's radar arrow, or silence abilities like Sombra's hack or EMP. <em>If it prevents the other team from doing their job it falls under the category of disruption.</em></p>

		<p><b>Mobility:</b> Ability to traverse the map or quickly cover distance apart from the default run. There are a ton of different movement abilities on OW, from Widow's grappling hook to Genji's double jump. <em>If it lets a character move in a way that's unique or separate from the default movement mechanics, it should grant at least some mobility.</em></p>

		<p><b>Protection:</b> Ability to prevent incoming damage. This is most easily seen in Reinhardt or Orisa's shield, but can also be seen in Mei's Ice Wall or Reaper's wraith form. <em>Has nothing to do with regaining health or recovery - only with preventing damage.</em></p>

		<p><b>Sustain:</b> Measures a characters ability to regain health and stay in the fight. Characters who have shields or abilities that allow them to restore their own health fall under this category. <em>Sustain is a character's ability to independently patch themselves up and stay in the fight, it is separate from healing.</em></p>

		<p><b>Healing:</b> A character's ability to patch up their team mates and keep them from dying. Mostly unique to supports.</p>

	<h2 class='koverwatch'>This is neat. I want to help.</h2>
		<p>Awesome! If you want to help all you have to do is help us get a better understanding of how different characters should be valued. To do so visit a character's page and submit a suggestion for any abilities that you think should be weighed differently!</p>

	<h2 class='koverwatch'>I used your app and I still lost what gives?</h2>
		<p>You probably should have insta-locked Hanzo my dude.</p>

</div>


