/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family:"Koverwatch";
    src: url("./assets/fonts/bignoodletoo.ttf");
}

.charDiv {
	background-color: rgba(33,143,254,.75);
	width: 270px;
	height: 200px;
	color: white;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border-width: 5px;
	border-color: grey;
	border-style: solid;
	position: relative;
}


@media (max-width: 700px) {
	.col-centered{
		float: none;
		margin: 0 auto;
	}
	.charDiv{
		margin-bottom: 5px;
	}
}

.statsList {
	list-style: none;
	float: right;
	padding-right: 5px;
	margin-top: -30px;
	padding-left: 0px;
}


.glyphicon-remove{
	position: absolute;
	top: 0px;
	right: 0px;
}
h3 {
	display: inline;
}

.navbar-brand{
	font-family: Koverwatch;
}